body {
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.background-img{
  background-image:url('images/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: left;
  /* background-size: cover;
  background-size: 100% 100%;  */
 }
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('images/logo.png');
  background-color: #a5a5b5;
  background-position: center;
  background-repeat: no-repeat;
}
.background-color{
  background-color: #444447;
}
.profileNavbar{
  margin-bottom: 0;
  border-radius: 0;
}
.cardio{
background-image: url('images/CardioImage.jpg');
background-size: 100%;
font-style: oblique;

}
.bodyWeight{
  background-image: url('images/BodyWeight.jpg');
  background-size: 100%;
font-style: oblique;
}
.weight{
  background-image: url('images/weightLifting.jpg');
  background-size: 100%;
font-style: oblique;
}
.meal{
  background-image: url('images/meal.jpg');
  background-size: 100%;
font-style: oblique;

}
.flip-card {
  /* background-color:darkcyan; */
  width: 100px;
  height: 100px;
  perspective: 1000px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:justify;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  
  font-display: oblique;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* background-image: url('images/hero-1.jpg'); */
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flip-card-back {
  background-color: #fffbf0;
  color: black;
  transform: rotateY(180deg);
}
.exerciseBody{
  background-color: #fffbf0;
}
.addButton{
  width: 100%;
}
.mealFont{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.bmiFont{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bmiCal{
  background-color: #6ca89a;
}
.profileWell{
  background-color: #6a92a6;
}
.thank{
  background-color: #6a92a6;
}
.font{
  color: #6a92a6;
  align-items: center;
}